<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net452" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net452" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net452" />
  <package id="WPFFolderBrowser" version="1.0.2" targetFramework="net452" />
</packages>